@use '../utils' as *;

/*----------------------------------------*/
/*  2.11 Breadcrumb
/*----------------------------------------*/

.breadcrumb{
    &__height{
        padding-top: 300px;
        padding-bottom: 180px;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-position: bottom;
        @media #{$xs}{
            padding-top: 170px;
            padding-bottom: 120px;
        }
    }
    &__overlay{
        position: relative;
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: linear-gradient(255.03deg, rgba(20, 23, 41, 0.92) -0.62%, rgba(3, 23, 62, 0) 62.34%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }
    &__title{
        font-weight: 700;
        font-size: 60px;
        text-transform: capitalize;
        color: var(--tp-common-white); 
        margin-bottom: 0; 
        @media #{$xs}{
            font-size: 40px;
        }       
    }
    &__list{
        display: inline-block;
        padding: 0px 10px;
        & span{
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.14em;
            text-transform: uppercase;   
            color: var(--tp-theme-2);       
            &.dvdr{
                & i{
                    font-size: 15px;
                    padding: 0px 5px;
                    font-weight: 400;
                }
            }
        }
    }

}


