$colors: (
    'common': (
        'white': #fff,
        'black': #020626,
        'black-2': #2A2222,
        'black-3': #272C3A,
        'black-4': #181B24,
        'black-5': #323848,
        'black-6': #262B38,
        'green': #00C44E,
    ),
    'grey': (
        '1':#F5F7FA,
    ),
    'text': (
        'body':#707481,
    ),
    'theme': (
        '1': #336EF9,
        '2': #FFB302,
    ),
    'border': (
        '1': #F1F1F9,
        '2': #EDEEEE,
    )
);



$white : #fff;
$black : #020626;
$theme-primary : #336EF9;
$border-primary : #F1F1F9;